body{
    display: flex;
    flex-direction: column;
}
/* -----------Header+title card------*/
.header, .title-card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:#E5E7EB;
    padding: 0 100px;
}
.header{
    justify-content: space-between;

}
a{
    text-decoration: none;
    color:#E5E7EB;
}
ul{
    list-style: none;
    
}
li{
    display: inline;
    margin: 0 10px
}
.title-card{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}
.title-text{
    max-width: 300px ;
}

/*----------Content-----------*/
.info{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.info-container{
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}
.info-pair{
    max-width: 175px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 50px 20px;
}
.testimonial{
    display: flex;
    padding: 50px 150px;
    background-color: #E5E7EB;
}
.name{
    display: flex;
    justify-content: flex-end;
}
/*------------Ending----------*/
.call{
    display: flex;
    justify-content: space-between;
    margin: 100px 75px;
    background-color: #3882F6;
    padding: 40px 20px;
}
.call-container{
    display: flex;
    flex-direction: column;
}
.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-content: center;
}
/*------Buttons and Borders----------*/
.border{
    border-radius: 8px;
}
.button, .button-2{
    background-color: #3882F6;
    height: 25px;
    width: 90px;
}
.button{
    border: none;
}
.button-2{
    border: 2px solid #E5E7EB;
}
.img-border{
    border: 2px solid #3882F6;
}


